---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Proof-of-concept proxy using Cloudflare Workers."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
  <script is:inline>
    function redirect(url) {
      let formattedURL = new URL(url);
      window.location.href =
        "https://superposition.bomberfish.ca/?url=" + formattedURL.toString();
    }
  </script>
</html>

<style is:global>
  :root {
    --accent: rebeccapurple;
    --accent-dark: #221133;
  }
  html {
    font-family: -apple-system, system-ui, BlinkMacSystemFont,
      "Segoe UI Variable", "Segoe UI", "Roboto Flex", Roboto, Oxygen-Sans,
      Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, "Noto Sans",
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: var(--accent-dark);
    background-size: 224px;
  }
  pre,
  code {
    font-family: ui-monospace, "SF Mono", Menlo, Monaco, "Cascadia Mono",
      "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Mono",
      "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New",
      monospace;
  }
</style>
